{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Правка рецепта</title>
{% endblock %}

{% block content %}
            <form class="border border-3 border-info w-50 m-2 p-3 rounded" 
                action="/saveeditpost/{{post.id}}" 
                method="POST" 
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <input name="title" type="text" style="color: rgb(0, 51, 25);" class="fs-1" value="{{post.title}}"/>
                <img style="width: 40vw; " src="/static/images/{{post.image}}" alt=""/>
                <input type="file" name="file"/>
                <textarea wrap="soft" name="text" style="color: rgb(0, 51, 25);" class="fs-6" value="{{post.text}}"></textarea>
                <input type="submit" value="Записать" />
            </form>
{% endblock %}
